{% extends '::base.html.twig' %}

{% block title %}Conditions générales d'utilisation | {{ parent() }}{% endblock %}

{% block body %}
<section class="container spacer">
	<h1>Conditions générales d'utilisation</h1>
	<div class="long-text">
		<p>Les ressources disponibles sur Nomdeco.de peuvent être utilisées gratuitement que ce soit dans des projets personnels ou professionnels.</p>
		<p>Vous n'êtes pas autorisés à prendre nos contenus "tels quels" pour les vendre, les redistribuer ou les republier, vous devez y donner une valeur ajoutée et utiliser ces ressources comme "une partie" de votre travail uniquement.</p>
		<p>Vous pouvez copier de courts passages de nos articles mais pas les articles en entier.</p>
		<p>Si vous utilisez ou rédigez à propos de nos ressources, n'hésitez pas à nous créditer et/ou à y poser un lien retour vers nos articles, ça serait chouette !</p>
		<p>Merci de ne pas republier nos démos ni de les partager en .zip, mettez plutôt un lien vers notre article :)</p>
		<p><b>Bonne lecture !</b></p>
	</div>
</section>
{% endblock %}