{% extends '::base.html.twig' %}

{% block title %}Nous contacter | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container spacer">
        <h1>Nous contacter</h1>

		{% if form is defined %}
			{{ form_start(form, {'attr': {'class': 'form-classic'}}) }}
	    		{{ form_widget(form) }}
	        {{ form_end(form) }}
		{% else %}
			<p style="color:#4EB56E;text-align:center;"><i class="fa fa-check"></i> Le message a bien été envoyé, nous lirons ça sous peu !</p>
		{% endif %}
        
    </section>
{% endblock %}
