{% extends '::base.html.twig' %}

{% block title %}Nous contacter | {{ parent() }}{% endblock %}

{% block body %}
    <section class="container spacer">
        <h1>Nous contacter</h1>
        {{ form(form) }}
    </section>
{% endblock %}

