{% extends '::base.html.twig' %}

{% block title %}Conditions générales d'utilisation | {{ parent() }}{% endblock %}

{% block body %}
<section class="container spacer">
	<h1>FAQ</h1>
	<div class="long-text">
		<p>A venir</p>
	</div>
</section>
{% endblock %}