{% extends '::base.html.twig' %}

{% block header_class %}index{% endblock %}

	{% block header %}
		<div class="illustration">
			{% include 'NDCBlogBundle:Blog:_index_animation.html.twig' %}
		</div>
{% endblock %}

{% block body %}
	<section class="container spacer">
		{% for article in articles %}
			{% include 'NDCBlogBundle:Blog:_preview_article.html.twig' %}
		{% endfor %}

		{{ helper.pagination(page, articles.pageCount) }}
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/velocity.min.js') }}"></script>
	<script>
		$(function () {
			var velocity_steps = 0,
				velocity_delay = 140,
				velocity_duration = velocity_delay*1.5;
			jQuery.fn.extend({
				velocity_delay: function(has_delay) {
			    	return this.each(function() {
			    		if(!has_delay)
			    			velocity_steps -= 1;
			    		$(this).delay(velocity_delay*velocity_steps);
			    		velocity_steps += 1;
			    	});
			  	},
				velocity_reset_position: function(has_delay) {
			    	return this.each(function() {
			    		$(this)
			    			.velocity_delay(has_delay)
			    			.velocity({
								translateY: 0,
								translateX: 0,
								rotateZ: 0,
								scale: 1,
								scaleX: 1,
								scaleY: 1,
								opacity: 1
							}, {
								duration: velocity_duration,
								easing: [ 18, 5 ]
							});
			    	});
			  	}
			});

			var svg = $(".illustration"),
				deploy = [
					{ "e": "#second-element", "p": { translateY: 100, translateX: -100 } },
					{ "e": "#third-element", "p": { translateX: 100 } },
					{ "e": "#second-element #tapis", "p": { translateX: -200 } },
					{ "e": "#fourth-element", "p": { translateX: 100 } },
					{ "e": "#third-element #boitier", "p": { translateY: 50 } },
					{ "e": "#fourth-element #fiole2", "p": { translateY: -50 } },
					{ "e": "#fourth-element #fiole3", "p": { translateY: -50 } },
					{ "e": "#fourth-element #fiole1", "p": { translateY: -50 } },
				];

				jQuery.each(deploy, function(i, v) {
					if(!("has_delay" in v))
						$.extend(v, { "has_delay" : true } );
					$.extend(v.p, { opacity: 0, scale: 0.8 } );
				    svg.find(v.e)
				    .velocity(v.p, { duration: 0 })
				    .velocity_reset_position(v.has_delay);
				});

			function code_animation(currentSide) {
				var currentSide = currentSide || "1";

				var vDelay = Math.floor((Math.random() * 3000) + 1000),
				vDuration = Math.floor((Math.random() * 1500) + 500),
				heightSVG = $(".animated-code svg:nth-child(1)").height(),
				vMove = - Math.floor((Math.random() * heightSVG*0.8) + 50) % heightSVG;
				$(".animated-code svg:nth-child("+ currentSide +")").velocity(
					{ top: vMove + "px" },
					{
						duration: vDuration,
						delay: vDelay,
						easing: "easeInSine",
						complete: function() {
							code_animation(currentSide == 1 ? 2 : 1);
						}
					});
			}

			code_animation();
		});
	</script>
{% endblock %}