{% extends '::base.html.twig' %}

{% block body %}
<section class="container spacer">
	<h1>Résultats de la recherche : "{{ query }}"</h1>
	<br/>
	{% for article in articles %}
		{% include 'NDCBlogBundle:Blog:preview_article.html.twig' %}
	{% endfor %}
</section>
{% endblock %}