article {
	h1 {
		text-align: initial;
	}

	a {
		color: #1290ff;
	}

	li {
		margin-bottom: $margin-for-blocks;
	}

	h1.title {
		margin-top: 70px;
		margin-bottom: 40px;
		font-family: $font-family-headline;
		font-size: $font-size-headline-article;
		font-weight: bold;
		line-height: 95%;
		color: #666;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	// inline code
	*:not(pre) > code {
		padding: $padding-inline;
		font-size: 90%;
		color: inherit;
		background-color: #E0E0E0;
		border-radius: 4px;
	}

	// block of code
	pre {
		border-radius: 4px;
		margin: $margin-for-blocks 0;

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		code {
			padding: 1em;
		}
	}

	mark {
		padding: $padding-inline;
		background-color: #fcf8e3;
	}

	blockquote {
		padding: $margin-for-blocks 2rem;
		margin: 1rem 0;
		border-left: 5px solid #eee;
		font-style: italic;
	}
}