// Base colors
$background-color-base: #e6e7e9;
$font-color-base: #333;

// Specific colors
$background-color-article: #fff;
$background-color-menu: #333745;

// Default author profil colors
$color-author: rgba(50, 50, 50, 0.7);
$color-author-first: rgba(197, 184, 232, 0.7);
$color-author-second: rgba(146, 215, 235, 0.7);
$color-author-third: rgba(232, 130, 145, 0.7);