// Base colors
$background-color-base: #fff;
$font-color-base: #333;
$font-color-article: #444;
$font-color-muted: #a6a6a6;

// Specific colors
$background-color-header: #ed706e;

// Default author profil colors
$color-author: rgba(50, 50, 50, 0.7);
$color-author1: rgba(197, 184, 232, 0.7);
$color-author2: rgba(146, 215, 235, 0.7);
$color-author3: rgba(232, 130, 145, 0.7);