@import "colors";


// variables
$height-header: 75vh;
$size-photo-author-index: 40px;
$size-photo-author-article: 90px;
$font-size-base: 1rem;
$font-size-article: 1.2em;
$line-height-article: 1.15em;
$font-size-headline-index: 2.3rem;
$font-size-headline-article: 3rem;
$size-icon-category: 30px;
// IF WIDTH CHANGED IN PERCENTAGE -> EDIT WIDTH OF VIGNETTES IN VW
$width-article: 740px;

//fonts
$font-family-base: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$font-family-headline: $font-family-base;
$font-family-article: 'Droid Serif', serif;

// sizes for media queries
$size-limit-little-screen: 1160px;

// article content layout variables
$padding-inline: 2px 4px;
$margin-for-blocks: 0.5rem;
// imports needing variables
@import "article_theme";


// mixins
@mixin author-photo($diameter) {
	width: $diameter;
	height: $diameter;
	border-radius: 50%;
}

// rules
html, body {
	height: 100%;
}

html {
	font-size: $font-size-base;
}

body {
	background-color: $background-color-base;
	color: $font-color-base;

	font-family: $font-family-base;
}

a {
	text-decoration: none;
	color: inherit;
}

input[type=text], textarea {
	box-sizing: border-box;
	padding: 10px;
}

input[type=text] {
	background-color: transparent;
	height: 30px;
}

a.category {
	width: $size-icon-category;
	height: $size-icon-category;
	border-radius: 50%;
	background-color: $font-color-base;
	position: relative;
	pointer-events: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-size: $size-icon-category*0.8;
	background-repeat: no-repeat;
}

header {
	height: 100vh;
	background-color: $background-color-header;

	input[type=text].search {
		$color-over-header: rgba(0, 0, 0, 0.4);
		border: none;
		border-bottom: 2px solid $color-over-header;
		color: $color-over-header;

		position: absolute;
		right: 6vw;
		top: 7vh;
		width: 15vw;
		&::-webkit-input-placeholder { color: $color-over-header; }
		&:-moz-placeholder { color: $color-over-header; }
		&::-moz-placeholder { color: $color-over-header; }
		&:-ms-input-placeholder { color: $color-over-header; }
	}

	.img {
		height: 70vh;
		width: 36vw;
		position: absolute;
		top: 15vh;
		right: 30vw;

		img {
			height: 100%;
		}
	}

	&.article {
		background-color: $background-color-base;

		.top {
			background-color: #6ae2ed;
			height: 70vh;
			overflow: hidden;

			img {
				display: block;
				margin: auto;
				margin-top: 12vh;
			}
		}

		.text {
			height: 24vh;
			margin: 3vh auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			h1 {
				font-size: $font-size-headline-article;
			}

			span {
				text-transform: uppercase;
				color: $font-color-muted;
			}

			& > h1, & > span {
				width: $width-article;
			}

			& > * {
				text-align: center;
				margin: auto;
				display: block;
			}
		}
	}
}

footer {
	height: 10vh;
	background-color: $background-color-header;
}

section.articles_list {
	width: $width-article;
	margin: 12vh auto;
	
	.article {
		margin-bottom: 10vh;

		h2 {
			font-size: $font-size-headline-index;
			margin-bottom: 1rem;
			text-align: center;
		}

		p {
			font-family: $font-family-article;
			font-size: $font-size-article;
			line-height: $line-height-article;
			color: $font-color-article;
			margin-bottom: 5px;
		}

		.information {
			position: relative;
			margin-top: 10px;
			color: $font-color-muted;
			text-transform: uppercase;

			& * {
				vertical-align: middle;
				line-height: $size-photo-author-index;
			}

			& > a > span {
				vertical-align: initial;
			}

			img.author-img {
				@include author-photo($size-photo-author-index);
			}

			.author {
				font-weight: bold;
				padding-left: 6px;
			}

			.date {
				padding-left: 10px;
			}
			
			.comments {
				float: right;
				padding-right: 10px;
			}
			
			a.category {
				margin-top: ($size-photo-author-index - $size-icon-category)/2;
				display: inline-block;
				float: right;
			}
		}
	}
}