@import "typography";
@import "colors";

html, body {
	height: 100%;
}

html {
	font-size: $font-size-base;
}

body {
	background-color: $background-color-base;
	color: $font-color-base;

	font-family: $font-family-base;
}

section.vignettes, article {
	float: left;
	height: 100vh;
}

section.vignettes {
	width: 30%;
}

$height-author: 80px;
$size-photo-author: 100px;
article {
	background-color: $background-color-article;
	width: 70%;

	header {
		height: 40vh;
		position: relative;
		background-size: cover;

		.author {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: $height-author;
			background-color: $color-author;

			.author-info {
				width: 75%;
				margin: auto;
				position: relative;
				font-size: 1.2rem;
				color: #fff;

				img.photo {					
					width: $size-photo-author;
					height: $size-photo-author;
					border-radius: 50%;
					margin-top: $height-author - ($size-photo-author/2);
				}

				& > span {
					position: absolute;
					line-height: $height-author;
				}

				.name {
					margin-left: 20px;
					font-family: $font-family-headline;
				}

				.date {
					right: 0;
					color: #e7e7e7;
					font-family: $font-family-date;
					font-size: 1rem;
					font-style: italic;
				}
			}
		}
	}

	.content {
		width: 50%;
		margin: auto;
	}
}