{% extends 'NDCBlogBundle:ArticleAdmin:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ helper.breadcrumb(null, 'Ajouter') }}
{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(form) }}
{% endblock %}