{% extends 'NDCBlogBundle:ArticleAdmin:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ helper.breadcrumb(null, 'Ajouter') }}
{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    {% include '@NDCBlog/ArticleAdmin/form.html.twig' %}
{% endblock %}