{% extends 'NDCBlogBundle:ArticleAdmin:layout.html.twig' %}

{% block body %}
    {% if drafts|length %}
        <h2>Brouillons</h2>
        {% include '@NDCBlog/ArticleAdmin/table.html.twig' with {articles:drafts} %}
        <h2>Articles</h2>
    {% endif %}
    {% include '@NDCBlog/ArticleAdmin/table.html.twig' %}
    {{ knp_pagination_render(articles) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('[data-p="analytics"]').on('click', function () {
			$(this).closest('tr').next().toggle();
		});
	</script>
{% endblock %}