{% extends 'NDCBlogBundle:ArticleAdmin:layout.html.twig' %}

{% block body %}
    {% if drafts|length %}
        <h2>Brouillons</h2>
        {% include '@NDCBlog/ArticleAdmin/table.html.twig' with {articles:drafts} %}
        <h2>Articles</h2>
    {% endif %}
    {% include '@NDCBlog/ArticleAdmin/table.html.twig' %}
    {{ knp_pagination_render(articles) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('[data-p="analytics"]').on('click', function () {
			var $this = $(this),
				$analytics = $this.closest('tr').next();
			if(!$this.find('.fa-spinner').length) {
				if (!$.trim($analytics.children('td').html())) {
					$this.append('<i class="fa fa-spinner fa-spin"></i>');
					$.ajax({
						url: $this.data('route'),
						type: 'post',
						success: function (data) {
							$analytics.show();
							$analytics.children('td').html(data);
						},
						complete: function(data) {
							$this.find('.fa-spinner').remove();
						}
					});
				} else {
					$analytics.toggle();
				}
			}
		});
	</script>
{% endblock %}