imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    filters:
        cssrewrite: ~

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# JMS Configuration
jms_di_extra:
    locations:
        all_bundles: false
        bundles: [NDCBlogBundle]
        directories: ["%kernel.root_dir%/../src"]
    automatic_controller_injections:
        properties:
            em: @doctrine.orm.entity_manager
            paginator: @knp_paginator
            session: @session

# Paginator Configuration
knp_paginator:
    page_range: 7
    default_options:
        page_name: page
        sort_field_name: sort
        sort_direction_name: direction
        distinct: true

# User Configuration
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: NDC\UserBundle\Entity\User


# DoctrineExtensionBundle Configuration
stof_doctrine_extensions:
    uploadable:
        default_file_path: %kernel.root_dir%/../web/uploads
        mime_type_guesser_class: Stof\DoctrineExtensionsBundle\Uploadable\MimeTypeGuesserAdapter
        default_file_info_class: Stof\DoctrineExtensionsBundle\Uploadable\UploadedFileInfo
        validate_writable_directory: false
    orm:
        default:
            sluggable: true
            blameable: true
            timestampable: true
            softdeleteable: true
            uploadable: true
            sortable: true