NDC\UserBundle\Entity\User:
    type: entity
    table: ndc_user
    repositoryClass: NDC\UserBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO

    fields:
        facebook:
            type: string
            length: 255
            nullable: true

        github:
            type: string
            length: 255
            nullable: true

        twitter:
            type: string
            length: 255
            nullable: true

        linkedin:
            type: string
            length: 255
            nullable: true

        website:
            type: string
            length: 255
            nullable: true

