{% extends 'NDCBlogBundle:DemoAdmin:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ helper.breadcrumb(null, 'Ajouter') }}
{% endblock %}

{% block body %}
    <h1>Ajouter une démo</h1>

    {% include '@NDCBlog/DemoAdmin/form.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'NDCBlogBundle:DemoAdmin:_dependencies_shortcuts.html.twig' %}
{% endblock %}