blog_index_first_page:
    pattern: /
    defaults: { _controller: NDCBlogBundle:Blog:index, page: 1 }

blog_index:
    pattern: /page/{page}
    defaults: { _controller: NDCBlogBundle:Blog:index }
    requirements:
        page: \d+

blog_search:
    pattern: /search
    defaults: { _controller: NDCBlogBundle:Blog:search }

blog_article:
    pattern: /article/{category}/{id}-{slug}
    defaults: { _controller: NDCBlogBundle:Blog:article, slug:null }
    requirements:
        id: \d+
        slug: "[a-zA-Z0-9-_/]+"

blog_demo:
    pattern: /demo/{id}
    defaults: { _controller: NDCBlogBundle:Blog:demo }
    requirements:
        id: \d+

blog_cgu:
    pattern: /conditions-generales-d-utilisation
    defaults: { _controller: NDCBlogBundle:Blog:cgu }

blog_faq:
    pattern: /faq
    defaults: { _controller: NDCBlogBundle:Blog:faq }

blog_ccontact:
    pattern: /nous-contacter
    defaults: { _controller: NDCBlogBundle:Blog:contact }

blog_authors:
    pattern: /redacteurs
    defaults: { _controller: NDCBlogBundle:Blog:authors }