blog_index_first_page:
    pattern: /
    defaults: { _controller: NDCBlogBundle:Blog:index, page: 1 }

blog_index:
    pattern: /page/{page}
    defaults: { _controller: NDCBlogBundle:Blog:index }
    requirements:
        page: \d+

blog_search:
    pattern: /search
    defaults: { _controller: NDCBlogBundle:Blog:search, page: 1 }

blog_article:
    pattern: /article/{id}-{slug}
    defaults: { _controller: NDCBlogBundle:Blog:article, slug:null }
    requirements:
        id: \d+
        slug: "[a-zA-Z0-9-_/]+"

blog_cgu:
    pattern: /cgu
    defaults: { _controller: NDCBlogBundle:Blog:cgu }

blog_authors:
    pattern: /authors
    defaults: { _controller: NDCBlogBundle:Blog:authors }